@font-face {
  font-family: 'Navigo';
  src: url(fonts/Navigo-Bold.ttf),
       url(fonts/Navigo-Light.ttf),
       url(fonts/Navigo-Regular.ttf)
}

body,
ul {
  margin: 0;
  padding: 0;
}
.container-fluid {
  width: 100%;
  margin: 0;
}
.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.row {
  display: flex;
  flex-direction: row;
}
.col-2 {
  width: 50%;
}
.col-4 {
  width: 25%;
}
.col-5 {
  width: 20%;
}
.col {
  width: 60%;
}

/* header-belt */

.header-belt {
  margin: 13px 100px 15px 100px;
}
.language {
  display: inline-flex;
  flex-direction: row;
  color: #fff;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}
.language__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}
.active {
  background-color: #3D4252;
  border-radius: 50%;
  width: 34px;
  height: 34px;
}
.language__link {
  color: #3D4252;
  font-family: Navigo;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 16px;
  width: 34px;
  text-align: center;
  text-decoration: none;
}
.language__item.active.language__link {
  color: #fff;
}
.time {
  display: inline-flex;
  flex-direction: row;
  margin-left: 48px;
}
.time__image,
.time__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.time__text {
  color: #3D4252;
  font-family: Navigo;
  font-size: 11px;
  font-weight: 700;
  line-height: 13px;
  text-align: left;
  margin-left: 15px;
}
.language__list,
.logo,
.social,
.menu,
.map,
.account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.social__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  width: 100%;
}
.social__item {
  border: 1px solid #8088A3;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
}

/* header-menu */
.header-menu {
  background-color: #3D4252;
  padding: 13px 100px 15px 100px;
  justify-content: space-between;
}
.search__link {
  border: 1px solid #656C81;
  border-radius: 50%;
  width: 34px;
  height: 34px;
}

/* hero */
.hero {
  background: url(img/header-bg@2x.png) center center/cover no-repeat;
  height: 368px;
}
.services {
  display: flex;
}
.search,
.map {
  display: inline-flex;
}
.map {
  border: 2px solid #656C81;
  border-radius: 17px;
  width: 80px;
  height: 34px;
  margin-left: 84px;
}
.map__link,
.account__link {
  color: #FFFFFF;
  font-family: Navigo;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  text-decoration: none;
}
.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
}
.menu__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__link {
  color: #FFF;
  font-family: Navigo;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  text-decoration: none;
}
.account {
  border: 2px solid #656C81;
  border-radius: 17px;
  width: 131px;
  height: 34px;
}

/* hero */
.heading {
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
}
