@font-face {
  font-family: 'Navigo';
  src: url(fonts/Navigo-Bold.ttf),
       url(fonts/Navigo-Light.ttf),
       url(fonts/Navigo-Regular.ttf)
}

body,
ul {
  margin: 0;
  padding: 0;
  font-family: Navigo;
}
.container-fluid {
  width: 100%;
  margin: 0;
}
.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.row {
  display: flex;
  flex-direction: row;
}
.col-2 {
  width: 50%;
}
.col-4 {
  width: 25%;
}
.col-5 {
  width: 20%;
}
.col {
  width: 60%;
}

/* header-belt */

.header-belt {
  margin: 13px 100px 15px 100px;
  background-color: #fff;
}
.language {
  width: 25%;
  display: inline-flex;
  flex-direction: row;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}
.language__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #3D4252;
}
.language__link {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 16px;
  width: 34px;
  text-align: center;
  text-decoration: none;
}
.active {
  background-color: #3D4252;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  color: #fff;
}
.active.language__link {
  color: #fff;
}
.time {
  display: inline-flex;
  flex-direction: row;
  margin-left: 48px;
}
.time__image,
.time__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.time__text {
  color: #3D4252;
  font-size: 11px;
  font-weight: 700;
  line-height: 13px;
  text-align: left;
  margin-left: 15px;
}
.language__list,
.logo,
.social,
.menu,
.map,
.account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.social {
  width: 25%;
}
.social__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  width: 100%;
}
.social__item {
  border: 1px solid #8088A3;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
}

/* header-menu */
.header-menu {
  background-color: #3D4252;
  padding: 13px 100px 15px 100px;
  justify-content: space-between;
}
.search__link {
  border: 1px solid #656C81;
  border-radius: 50%;
  width: 34px;
  height: 34px;
}
.hamburger {
  display: none;
}

/* hero */
.hero {
  background: url(img/header-bg@2x.png) center center/cover no-repeat;
  height: 368px;
}
.services {
  display: flex;
}
.search,
.map {
  display: inline-flex;
}
.search__link {
  background-color: #3D4252;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map {
  border: 2px solid #656C81;
  border-radius: 17px;
  width: 80px;
  height: 34px;
  margin-left: 84px;
}
.map__link,
.account__link {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  text-decoration: none;
}
.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
}
.menu__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__link {
  color: #FFF;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  text-decoration: none;
}
.account {
  border: 2px solid #656C81;
  border-radius: 17px;
  width: 131px;
  height: 34px;
}

/* hero */
.heading {
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
}
.heading__subtitle {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 42px;
  width: 980px;
  text-align: center;
  text-transform: uppercase;
}
.heading__title {
  font-size: 52px;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 78px;
  width: 980px;
  text-align: center;
  text-transform: uppercase;
}
.account__icon {
  color: #FFFFFF;
  font-family: Navigo;
  font-size: 11px;
  font-weight: 700;
  line-height: 16px;
  width: 22px;
  height: 22px;
  text-align: center;
  background-color: #2694F7;
  border-radius: 50%;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* media */
@media(max-width: 1200px) {
  .language {
    width: 44%;
  }
  .logo {
    width: 36%;
  }
  .social {
    width: 20%;
  }
  .col-5 {
    width: 15%;
  }
  .col {
    width: 70%;
  }
  .map {
    margin-left: 8px;
  }
}
@media(max-width: 1024px) {
  .header-menu {
    display: none;
  }
  .time {
    margin-left: 8px;
  }
}
@media(max-width: 870px) {
  .time,
  .social {
    display: none;
  }
 .container {
    width: 100%;
  }
  .hamburger {
    display: flex;
    position: fixed;
    top: 18px;
    right: 20px;
    width: 32px;
    height: 21px;
    background: #fff;
    border: none;
    padding: 0;
  }
  .hamburger__icon {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #3D4252;;
    margin: auto;
  }
  .hamburger__icon:after,
  .hamburger__icon:before {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    top: 0;
    position: absolute;
    background-color: #3D4252;;
    margin: auto;
    transform-origin: 50% 50%;
  }
 .hamburger__icon:before {
   top: calc(100% - 3px);
 }
 .hamburger.active .hamburger__icon {
   background-color: transparent;
 }
 .hamburger.active .hamburger__icon:after {
   transform: rotate(-45deg);
   top: 9px;
 }
  .hamburger.active .hamburger__icon:before {
   transform: rotate(45deg);
   top: 9px;
 }
}
@media(max-width: 375px) {
  .header-belt {
    margin-left: 15px;
    margin-right: 15px;
  }
  .logo {
    width: 75%;
  }
  .heading__subtitle,
  .heading__title {
    font-size: 20px;
  }
}
